# cp .env.example .env and set real values
OMRS_DB_USER=openmrs
OMRS_DB_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Optional overrides
#GATEWAY_PORT=80
#GATEWAY_TAG=nightly
#FRONTEND_TAG=nightly-auditlog
#BACKEND_TAG=nightly-auditlog
#OMRS_MODULE_WEB_ADMIN=false
#SPA_DEFAULT_LOCALE=
